<p>search works!</p>
<div class="container">
    <input type="String" class="form-control" [(ngModel)]="ville" placeholder="Ville">
    <input type="number" class="form-control" [(ngModel)]="prixMax" placeholder="Budget Maximum">

    <ng-multiselect-dropdown
        [placeholder]="'Louer ou acheter ?'"
        [settings]="choixVenteSettings"
        [data]="choixVente"
        [(ngModel)]="selectedChoixVente"
        >
    </ng-multiselect-dropdown>

    <ng-multiselect-dropdown
        [placeholder]="'Quel type de bien cherchez vous?'"
        [settings]="proprieteSettings"
        [data]="proprieteList"
        [(ngModel)]="selectedTypeProprietes"
        >
    </ng-multiselect-dropdown>

    <!-- <select class="form-control" name="nbPieces" [(ngModel)]="nbPiece">
        <option value="" disabled selected>Select your option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select> -->

    <button (click)="findAnnonces()" class="btn btn-primary">Rechercher des annonces!</button>
</div>
